main {
	overflow: non;
	background-color: lightgrey;
	width:50%;
	height: 400px;
	margin: auto;
	align-content: center;
	align-items: center;
	border-radius: 4px;
	
}
h1, p, input{
	text-align: center;
}
img{
	display: block;
	margin: auto;
	border-radius: 8px;
}
input{
	display: block;
	width: 89px;
	height: 40px;
	border-radius: 10px;
	margin: auto;
}